{% extends 'index_2.html' %}
{% block content %}
	

		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Name</th>
				
				<th>Stock</th>
				<th>Action</th>
		
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">{{cline.name}}</td>
				<td>{{ped.quant}}</td>
				<td>entrada</td>					
								
			</tr>
		
			
			
			{% endfor %}
		</tbody>
	</table>
{% endblock %}