{% extends 'index_2.html' %}
{% block content %}
	

		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Name</th>
				
				<th>Stock</th>
				<th>Action</th>
		
			</tr>
		</thead>
		<tbody>
			<tr>
			
				<td>{{ped.user}}</td>
				<td>{{ped.item}}</td>
				<td>{{ped.quantity}}</td>				
			</tr>
		
		</tbody>

	</table>
	<form method="POST">
		{% csrf_token %}
	<button type="submit">Pagar</button> 
	</form>
{% endblock %}