{% extends 'index.html' %}
{% block content %}
<section class="full-width" style="margin: 30px 0;">
    <h3 class="text-center tittles">HISTORIAL</h3>
    <!-- TimeLine -->
    <div id="timeline-c" class="timeline-c">
        {% for historia in historial%}
        <div class="timeline-c-box">
            {% if historia.entry == 1 %}
                <div class="timeline-c-box-icon bg-success">
                    <i class="zmdi zmdi-view-list-alt"></i>
                </div>
            {% elif historia.entry == 2 %}
                <div class="timeline-c-box-icon bg-danger">
                    <i class="zmdi zmdi-delete"></i>
                </div>
            {% elif historia.entry == 3 %}
                <div class="timeline-c-box-icon bg-primary">
                    <i class="zmdi zmdi-assignment-o"></i>
                </div>
            {% endif %}
            <div class="timeline-c-box-content">
                <h4 class="text-center text-condensedLight">{{ historia.prod.name }}</h4>
                <p class="text-center">
                    <span>Fue </span>
                    {% if historia.entry == 1 %}
                        <span>Ingresado </span>
                    {% elif historia.entry == 2 %}
                        <span>Eliminado </span>
                    {% else %}
                        <span>Modificado </span>
                    {% endif %}
                    <span>por </span> 
                    {{ historia.user }}
                </p>
                <span class="timeline-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i>
                    {{ historia.date }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}