{% extends 'index_1.html' %}
{% block content %}
	<!-- pageContent -->
	
	
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Name</th>
				<th>Code</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% for prod in prods %}
			<tr>
				<td class="mdl-data-table__cell--non-numeric">{{prod.name}}</td>
				<td>Product Code</td>
				<td>{{prod.units}}</td>
				<td>{{prod.price}}</td>
				<td><a href = "{% url 'update' prod.id %}">Modificar</a></td>
		
			</tr>
		
			
			
			{% endfor %}
		</tbody>
	</table>
				
			
	
{% endblock %}