{% extends 'index_1.html' %}
{% block content %}
<div class="mdl-tabs__panel is-active" id="tabNewProvider">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="full-width panel mdl-shadow--2dp">
              <div class="full-width panel-tittle bg-primary text-center tittles">
                New Admin
              </div>
              <div class="full-width panel-content">
                <form method="POST">
                  {% csrf_token %}
                  <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col">
                          <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; DATA CATEGORY</legend><br>
                      </div>
                      {% for field in form %}
                      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                        <label>{{field.label}}</label>
                        {{field}}
                      
                      <!--<span class="mdl-textfield__error">Invalid number</span>-->
                      </div>
                      {% endfor %}
                  </div>
                  <input type="submit" name="submit" value="Enviar">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}