<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		
		<div class="full-width panel mdl-shadow--2dp">
		<div class="full-width panel-tittle bg-primary text-center tittles">
			Add product
		</div>
		<form action="{% url 'addProduct' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
			<div class="full-width panel-content">
				{{form.as_p}}
				<button type="button" data-dismiss="modal" >Cancelar</button>
				<input type="submit" class="button">
			</div>
		</form>
		</div>
	</div>
</div>