{% extends 'index.html' %}
{% block content %}
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		
		<div class="full-width panel mdl-shadow--2dp">
		<div class="full-width panel-tittle bg-primary text-center tittles">
			Añadir Producto
		</div>
		<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
			<div class="full-width panel-content">
				{{form.as_p}}
				<input type="submit" class="button">
			</div>
		</form>
		</div>
	</div>
</div>
{% endblock %}