{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content = 'IE=edge'>
	<title>Register</title>
	<meta name = 'viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" type="text/css" media='screen' href="{%static 'styles/main.css' %}">
</head>
<body>
	<div>
	<form method="post" enctype="multipart/form-data"> {% csrf_token %}
		<h4>Do you want delete this place?</h4>
		<h4>{{object}}</h4>
		<input type="submit">Confirmar</input>
	</form>
	</div>
	
</body>
</html>